.head
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: #1ba3ea;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 2px;
.foot
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #3c3c3c;
  .icon-back
    flex: 0 0 50px;
    border-right: 1px solid #505050;
    color: #999;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
  .icon-bianxie
    flex: 1 1 auto;
    color: #d3d3d3;
    font-size: 16px;
    text-align: center;
    line-height: 40px;

  