header
  height: 45px;
  position: relative;
  color: #fff;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  img
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px);
  .icon
    font-size: 24px;
    margin: 0 10px;
  .icon-back 
    float: left;
  .icon-jian, .icon-jia
    float: right;
.editors
  height: 45px;
  padding: 0 15px;
  line-height: 45px;
  color: #585858;
  border-bottom: 1px solid #e5e5e5;
  img
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 5px;
  .icon
    float: right;
.list
  padding: 0;
  .list-item
    height: 90px;
    margin: 0 15px;
    border-bottom: 1px solid #f5f5f5;
    .item-title
      display: inline-block;
      width: 70%;
      padding-top: 15px;
      line-height: 20px;
    .image-wrapper
      position: relative;
      float: right;
      padding-top: 15px;
      .item-image
        width: 75px;
        height: 60px;